<div class="card-container">
  <div class="card" *ngIf="card">
    <div class="card-return">
      <button [routerLink]="['']" class="card-return-btn">Назад</button>
    </div>
    <h3>Title</h3>
    <div class="card-title">
      <input type="text" [(ngModel)]="card.title" (ngModelChange)="onCardTitleChange()">
    </div>
    <h3 class="card-content-title">Content</h3>
    <div class="card-content">
      <textarea [(ngModel)]="card.content" (ngModelChange)="onCardContentChange()">{{card.content}}</textarea>
    </div>
    <div class="card-footer">
      <button (click)="openModal('custom-modal-2')" class="card-footer-delete">Удалить</button>
      <button [routerLink]="['']" (click)="saveCardChanges()" class="card-footer-save">Сохранить</button>
    </div>
  </div>
</div>
<jw-modal id="custom-modal-2" *ngIf="card">
  <div class="modal-container">
    <h4>Вы уверены что хотите удалить?</h4>
    <div class="buttons-modal">
      <button [routerLink]="['']" (click)="deleteCard('custom-modal-2')" class="agree">Да</button>
      <button (click)="cancelDelete('custom-modal-2')" [routerLink]="['/card',card.cardId]" class="disagree">Нет
      </button>
    </div>
  </div>
</jw-modal>
