.blog-item {
  width: 200px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.blog-item h3{
  margin: 0;
}

.blog-item-content {
  width: 100%;
  height: 150px;
  background-color: white;
  display: block;
  box-sizing: border-box;
  padding: 5px;
  overflow: hidden;
}

a {
  cursor: pointer;
  width: 100%;
}

.blog-item-btn {
  width: 100%;
  height: 25px;
}
